<header>
  <div>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
          <a mat-button routerLink="/">
            <mat-icon>whatshot</mat-icon>

            <span>
              Балістична картотека
              <!-- <p>Балістична</p>
              <p>картотека</p> -->
            </span>
        </a>
        
        <span class="spacer"></span>
        <span>
          <button mat-button ><mat-icon>menu</mat-icon></button>
        </span>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>

</header>