<section>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="owner">
          <th mat-header-cell *matHeaderCellDef>Власник</th>
          <td mat-cell *matCellDef="let element"> {{element.owner}} </td>
        </ng-container>

        <ng-container matColumnDef="wepon">
          <th mat-header-cell *matHeaderCellDef>Зброя</th>
          <td mat-cell *matCellDef="let element"> {{element.wepon}} </td>
        </ng-container>

        <ng-container matColumnDef="date_Shooting">
          <th mat-header-cell *matHeaderCellDef>Дата</th>
          <td mat-cell *matCellDef="let element"> {{element.date_Shooting}} </td>
        </ng-container>

        <ng-container matColumnDef="ammo">
          <th mat-header-cell *matHeaderCellDef>Набої</th>
          <td mat-cell *matCellDef="let element"> {{element.ammo}} </td>
        </ng-container>

        <ng-container matColumnDef="document">
          <th mat-header-cell *matHeaderCellDef>Документ</th>
          <td mat-cell *matCellDef="let element"> {{element.document}} </td>
        </ng-container>

        <ng-container matColumnDef="safe_number">
          <th mat-header-cell *matHeaderCellDef> Сейф </th>
          <td mat-cell *matCellDef="let element"> {{element.safe_number}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
  </div>
</section>